[user]
	name = RJ Leyva
	email = rleyva@tutanota.com
[core]
    pager = delta
	excludesfile = /Users/rjleyva/.gitignore_global
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main
[pull]
	rebase = false
